<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title> User Page </title>

</head>
<body>
    <h2> User Details </h2>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Date of Birth</th>
            <th>Address</th>
        </tr>
        '{% for User in User %}'


        <tr>
            <td>{{ User.first_name }}</td>
            <td>{{ User.last_name }}</td>
            <td>{{ User.email }}</td>
            <td>{{ User.phone }}</td>
            <td>{{ User.password }}</td>
            <td>{{ User.birthdate }}</td>
            <td>{{ User.address }}</td>
            
        </tr>
       '{% endfor %}'

    {/table}
    <br>
    <a href="{% url 'registration' %}">Registration Page</a>
        
    <table border="1">
        {% for User in User %}
        <tr>
            <td>
                <a href="{% url 'delete_user' user_id %}"> Delete </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

